// Extends Layout
extends ../layouts/main.jade

// Main Area Content Block 
block content
  - var propertyType = "apartamento",roomType = "compartido"
  - if(property.propertyType == "house"){ propertyType = "apartamento"}
  - if(property.roomType == "private"){ roomType = "privado" }
  div.container-fluid#detail-page
    div#header-image
      div.content
        div.col-md-9
          h2= property.title
          p= propertyType + " - " + roomType
        div.col-md-3.text-align-right.price
          h2.price= property.price + "$"
      if property.photos.length > 0
        img(src="/" + property.photos[0].url)
    div#header-tabs
      div.col-md-9
        a(href="#acerca_de")
          i.fa.fa-comment-o
          | Acerca De
        a(href="#roommates")
          i.fa.fa-users
          | RoomMates
        a(href="#localizacion")
          i.fa.fa-map-marker
          | Localización
        a(href="#comentarios")
          i.fa.fa-comments-o
          | Comentarios
      div.col-md-3.text-align-right
        a(href="#contacto")
          i.fa.fa-envelope-o
          | Contacto
    div#content
      div#acerca_de
        include ../partials/_acerca-tab.jade

// page-specific styles
block head
  link(rel="stylesheet", href="/css/detail-page.css")

block postlibraries
  script(src="//maps.google.com/maps/api/js?sensor=false&libraries=places")
  script.
    require(['/js/app/apps/detail-page.js'],function(detailPage){
      detailPage.start();
    });
  
  