nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header.col-md-1
        a(href="/").navbar-brand MateIt
    div.navbar-header.col-md-6
      if user
        form(action="/properties/find").form-inline#search-form
          div.form-group#search-input
            input(type="text", placeholder="Busco Espacio Cerca De").form-control 
    div.navbar-header.col-md-5
      if user
        ul.navbar-nav.nav.float-right
          if user.profilepic
            li
              a(href="/user/dashboard")
                div.circle
                  img(src="user.profilepic", alt="")
                span= user.username 
          else
            li
              a(href="/user/dashboard")
                  div.circle
                    img(src="/img/profile_avatar_default.png", alt="")
                  span= user.username 
          if user.property && user.property.data != null
            li
              a(href="/properties/update") Actualizar Propiedad
          else
            li
              a(href="/properties/create") Crear Propiedad
          li
            a(href="/logout") Logout
      else
        ul.navbar-nav.nav.float-right
          li
            a(href="/login") Login
          li
            a(href="/users/new") Signup

        
