if user
  div.modal.fade#as-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span &times;
          h4.modal-title Opciones Avanzadas
        div.modal-content
          div.row
            div.col-md-8.div.col-md-offset-2
              form
                div.alert.alert-danger(style="display:none")
                  ul
                div.form-group
                  label(for="genderAllowed") Genero Permitido
                  select(name="genderAllowed").form-control
                    option(value="both") Ambos
                    option(value="male") Solo Hombres
                    option(value="female") Solo Mujeres
                
                div.form-group
                  label(for="propertyType") Tipo de Propiedad
                  select(name="propertyType").form-control
                    option(value="both") Ambos
                    option(value="apartment") Apartamento
                    option(value="house") Casas
                 
                div.form-group
                  label(for="roomType") Tipo de Espacio
                  select(name="roomType").form-control
                    option(value="both") Ambos
                    option(value="private") Cuarto Privado
                    option(value="shared") Cuarto Compartido

                div.form-group
                  label(for="price-range-min") Precio Minimo
                  input(type="text", name="price-range-min").form-control

                div.form-group
                  label(for="price-range-max") Precio Maximo
                  input(type="text", name="price-range-max").form-control

        div.modal-footer
          button.btn.btn-primary Cerrar

nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header.col-md-1
        a(href="/").navbar-brand MateIt
    div.navbar-header.col-md-6
      if user
        if advanced
          form(action="/properties/find").form-inline#search-form
            div.form-group#search-input
              input(type="text", placeholder="Busco Espacio Cerca De").form-control 
            ul.navbar-nav.nav#advanced-search
              li
                a(data-toggle="modal", data-target="#as-modal", href="#")
                  i.fa.fa-cog
        else
          form(action="/properties/find").form-inline#search-form
            div.form-group#search-input(style="margin-top:8px;")
              input(type="text", placeholder="Busco Espacio Cerca De").form-control 
  
    div.navbar-header.col-md-5
      if user
        ul.navbar-nav.nav.float-right
          if user.profilepic
            li
              a(href="/user/dashboard")
                div.circle
                  img(src="user.profilepic", alt="")
                span= user.username 
          else
            li
              a(href="/user/dashboard")
                  div.circle
                    img(src="/img/profile_avatar_default.png", alt="")
                  span= user.username 
          if user.property && user.property.data != null
            li
              a(href="/properties/update") Actualizar Propiedad
          else
            li
              a(href="/properties/create") Crear Propiedad
          li
            a(href="/logout") Logout
      else
        ul.navbar-nav.nav.float-right
          li
            a(href="/login") Login
          li
            a(href="/users/new") Signup

        
