- var users = [];
- users.push(property.owner)
- users = users.concat(property.habitants)

for user, index in users
	div.col-md-6.habitant
		div.col-md-4
			div.picture
				img(src=user.profilePicture, alt="")
		div.col-md-8
			if index == 0
				h4= user.name + " (Owner)"
			else
				h4= user.name
			p= user.description