
/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/colors.styl */

/* line 3 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */

/* line 6 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #breadcrumbs {
  margin-top: 20px;
}

/* line 8 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form {
  margin-bottom: 40px;
}

/* line 10 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row {
  margin-top: 10px;
}

/* line 12 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row div.form-group > label {
  margin-bottom: 10px;
}

/* line 14 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row {
  position: relative;
  margin-top: 4px;
}

/* line 17 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row input {
  padding-left: 25px;
}

/* line 19 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row i.fa-dollar {
  position: absolute;
  top: 51%;
  left: 25px;
}

/* line 24 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .btn span {
  margin-left: 8px;
}

/* line 27 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list {
  margin-top: 10px;
  min-height: 150px;
}

/* line 30 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list div.upload-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}

/* line 36 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list div.upload-pic img {
  width: 150%;
  margin-left: -50%;
}

/* line 40 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #roomate-btn {
  margin-top: 20px;
}

/* line 43 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row div#roomate-list {
  margin-top: 20px;
  height: 120px;
}

/* line 47 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.btns > .btn {
  margin-left: 10px;
}

/* line 50 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form h4 {
  margin-bottom: 5px;
}

/* line 53 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form .section-divider {
  border-bottom: solid 1px #aab2bd;
  margin-bottom: 15px;
  width: 100%;
}

/* line 58 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form label > span {
  margin-left: 10px;
}

/* line 61 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form .map-canvas {
  height: 350px;
}
