
/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/colors.styl */

/* line 35 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar {
  z-index: 2;
  border-radius: 0px !important;
}

/* line 4 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */

/* line 5 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form input {
  width: 400px !important;
}

/* line 7 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form .btn {
  margin-left: 10px;
}

/* line 9 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form .btn span {
  margin-left: 3px;
}

/* line 11 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar div.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -8px;
}

/* line 20 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar div.circle img {
  width: 110%;
  height: auto;
}

/* line 23 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar li {
  text-transform: capitalize;
}

/* line 25 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar #advanced-search {
  display: inline-block;
  font-size: 20px;
  float: none;
  vertical-align: middle;
}

/* line 4 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
div.loading {
  top: 53px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  position: fixed !important;
  z-index: 100;
}

/* line 12 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
div.loading i.fa.fa-refresh.fa-spin {
  color: #3bafda;
  top: 40%;
  left: 50%;
  margin-left: -30px;
  font-size: 60px;
  position: absolute !important;
}

/* line 20 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page {
  margin-top: 60px;
}

/* line 23 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #breadcrumbs {
  margin-top: 20px;
}

/* line 25 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form {
  margin-bottom: 40px;
}

/* line 27 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row {
  margin-top: 10px;
}

/* line 29 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row div.form-group > label {
  margin-bottom: 10px;
}

/* line 31 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row {
  position: relative;
  margin-top: 4px;
}

/* line 34 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row input {
  padding-left: 25px;
}

/* line 36 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #price-row i.fa-dollar {
  position: absolute;
  top: 51%;
  left: 25px;
}

/* line 41 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .btn span {
  margin-left: 8px;
}

/* line 44 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list {
  margin-top: 10px;
  min-height: 150px;
}

/* line 47 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list div.upload-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}

/* line 53 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row .panel-body.photos-list div.upload-pic img {
  width: 150%;
  margin-left: -50%;
}

/* line 57 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row #roomate-btn {
  margin-top: 20px;
}

/* line 60 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.row div#roomate-list {
  margin-top: 20px;
  height: 120px;
}

/* line 64 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form div.btns > .btn {
  margin-left: 10px;
}

/* line 67 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form h4 {
  margin-bottom: 5px;
}

/* line 70 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form .section-divider {
  border-bottom: solid 1px #aab2bd;
  margin-bottom: 15px;
  width: 100%;
}

/* line 75 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form label > span {
  margin-left: 10px;
}

/* line 78 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page form .map-canvas {
  height: 350px;
}

/* line 80 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */

/* line 81 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */

/* line 82 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #habitants .roommate .photo {
  vertical-align: middle;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 89 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #habitants .roommate .photo img {
  width: 75px;
  height: auto;
}

/* line 92 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #habitants .roommate h4 {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 98 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/add-property-page.styl */
#add-property-page #habitants .roommate a {
  margin-top: 10px;
}
