
/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/colors.styl */

/* line 3 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/core.styl */
body {
  font-family: 'Lato', sans-serif;
  background: #f5f7fa;
}

/* line 7 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/core.styl */
.float-right {
  float: right;
}
