
/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/colors.styl */

/* line 35 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */

/* line 1 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar {
  z-index: 2;
  border-radius: 0px !important;
}

/* line 4 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form {
  margin-top: 8px;
}

/* line 6 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form input {
  width: 400px !important;
}

/* line 8 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form .btn {
  margin-left: 10px;
}

/* line 10 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar form .btn span {
  margin-left: 3px;
}

/* line 12 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar div.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -8px;
}

/* line 21 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar div.circle img {
  width: 110%;
  height: auto;
}

/* line 24 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/header.styl */
.navbar li {
  text-transform: capitalize;
}

/* line 3 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
body {
  background-color: #f3f3f3 !important;
}

/* line 5 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
.text-align-right {
  text-align: right;
}

/* line 7 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page {
  padding-left: 0;
  padding-right: 0;
}

/* line 10 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page .tab-content {
  display: none;
}

/* line 12 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page .tab-content.active {
  display: block;
}

/* line 14 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image {
  height: 250px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 19 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image div.content {
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  position: absolute;
  background: rgba(0,0,0,0.3);
}

/* line 26 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image div.content div {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 29 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image div.content h2 {
  font-size: 28px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

/* line 35 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image div.content h2.price {
  color: #a0d468;
}

/* line 37 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image div.content p {
  margin-top: 0px;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}

/* line 42 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-image img {
  width: 100%;
  margin-top: -30%;
}

/* line 45 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs {
  background-color: #4fc1e9;
  height: 60px;
  padding-left: 40px;
}

/* line 49 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-9 {
  padding-left: 0px;
}

/* line 51 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-9 a {
  color: #fff;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  display: inline-block;
  font-size: 16px;
}

/* line 59 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-9 a i.fa {
  margin-right: 5px;
  font-size: 18px;
}

/* line 62 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-9 a:hover {
  background: #3a8daa;
}

/* line 64 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-9 a.tabActive {
  background: #3a8daa;
}

/* line 66 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-3 {
  padding-right: 0px;
}

/* line 68 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-3 a {
  color: #fff;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  display: inline-block;
  font-size: 16px;
  background: #3bafda;
}

/* line 77 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-3 a i.fa {
  margin-right: 5px;
  font-size: 18px;
}

/* line 80 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #header-tabs div.col-md-3 a:hover {
  background: #3a8daa;
}

/* line 83 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content {
  padding-top: 40px;
}

/* line 86 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de {
  padding-bottom: 40px;
}

/* line 88 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de i.fa.fa-check {
  display: inline;
  margin-right: 5px;
}

/* line 91 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de .amenity {
  margin-bottom: 20px;
  text-transform: capitalize;
  display: inline;
}

/* line 95 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de hr {
  margin-top: 5px;
  border-top: 1px solid #ddd;
}

/* line 98 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de #zoom-image {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 105 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de #zoom-image img {
  height: auto;
  width: 125%;
}

/* line 108 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de #mini-images {
  margin-left: 50px;
  margin-bottom: 40px;
}

/* line 111 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de #mini-images .mini-image {
  width: 40px;
  margin-right: 10px;
  height: 40px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: inline-block;
}

/* line 118 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de #mini-images .mini-image img {
  width: 200%;
}

/* line 120 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 123 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #acerca_de p {
  font-size: 16px;
  color: #656d78;
}

/* line 127 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #localizacion {
  height: 400px;
  margin-top: -40px;
}

/* line 131 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */

/* line 132 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #roommates .habitant {
  margin-bottom: 40px;
}

/* line 135 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #roommates .habitant h4 {
  margin-top: 0px;
}

/* line 138 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #roommates .habitant img {
  width: 100%;
}

/* line 141 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #roommates .habitant p {
  color: #656d78;
}

/* line 144 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */

/* line 146 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */

/* line 147 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios #control form {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 153 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios #control form div.form-group {
  margin-right: 70px;
}

/* line 155 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios #control form div.form-group label {
  margin-right: 10px;
}

/* line 157 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios #control form div.form-group select {
  width: 200px;
}

/* line 161 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */

/* line 162 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios .comment div.photo {
  width: 75px;
  height: 75px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* line 170 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios .comment div.photo img {
  width: 100%;
}

/* line 172 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios .comment h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

/* line 177 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios .comment p {
  margin-top: 5px;
  font-size: 16px;
  color: #656d78;
}

/* line 182 : /Users/rolilink/Sites/Mate It/Api Server/stylesheets/detail-page.styl */
#detail-page #content #comentarios .comment div.rating {
  display: inline-block;
  color: #ffce54;
  font-size: 18px;
  margin-left: 10px;
}
