@import colors
@import header

div.loading
	top 53px
	bottom 0
	left 0
	right 0
	background rgba(0,0,0,0.8)
	position fixed !important
	z-index: 100
	i.fa.fa-refresh.fa-spin
		color #3bafda
		top 40%
		left 50%
		margin-left -30px
		font-size 60px
		position absolute !important
		
#add-property-page
	margin-top 60px
	//Page Breadcrumbs
	#breadcrumbs
		margin-top 20px
	form
		margin-bottom 40px
		div.row
			margin-top 10px
			div.form-group > label
				margin-bottom 10px
			#price-row
				position relative
				margin-top 4px
				input
					padding-left 25px
				i.fa-dollar
					position absolute
					top 51%
					left 25px

			.btn span
				margin-left 8px;

			.panel-body.photos-list
				margin-top 10px
				min-height: 150px
				div.upload-pic
					width:100px
					height:100px
					overflow: hidden
					display: inline-block
					margin-left: 10px
					img
						width:150%
						margin-left: -50%

			#roomate-btn
				margin-top 20px

			div#roomate-list
				margin-top 20px
				height 120px

		div.btns > .btn
			margin-left 10px

		h4
			margin-bottom 5px

		.section-divider
			border-bottom solid 1px medium_gray_d
			margin-bottom 15px
			width 100%

		label > span
			margin-left 10px
		
		.map-canvas
			height 350px;