blue_jeans_l = #5D9CEC
blue_jeans_d = #4A89DC

aqua_l = #4FC1E9
aqua_d = #3BAFDA

mint_l = #48CFAD
mint_d = #37BC9B

grass_l = #A0D468
grass_d = #8CC152

sunflower_l = #FFCE54
sunflower_d = #F6BB42

bittersweet_l = #FC6E51
bittersweet_d = #E9573F

grapefruit_l = #ED5565
grapefruit_d = #DA4453

lavender_l = #AC92EC
lavender_d = #967ADC

pink_rose_l = #EC87C0
pink_rose_d = #D770AD

light_gray_l = #F5F7FA
light_gray_d = #E6E9ED

medium_gray_l = #CCD1D9
medium_gray_d = #AAB2BD

dark_gray_l = #656D78
dark_gray_d = #434A54