@import colors
@import header
.text-align-right
	text-align right
#detail-page
	padding-left 0
	padding-right 0
	#header-image
		height 250px
		position relative
		overflow-x hidden
		overflow-y hidden
		div.content
			left 0
			bottom 0
			right 0
			height 100px
			position absolute
			background rgba(0,0,0,0.3)
			div
				padding-left 40px
				padding-right 40px
			h2
				font-size 28px
				color white
				margin-top 20px
				margin-bottom 5px
				text-transform capitalize
			h2.price
				color #a0d468
			p
				margin-top 0px
				text-transform capitalize
				color white
				font-size 16px
		img
			width 100%
			margin-top -30%
	#header-tabs
		background-color #4fc1e9
		height 60px
		padding-left 40px
		div.col-md-9
			padding-left 0px
			a
				color white
				height 60px
				padding-left 40px
				padding-right 40px
				padding-top 20px
				display inline-block
				font-size 16px
				i.fa
					margin-right 5px
					font-size 18px
			a:hover
				background #3a8daa
		div.col-md-3
			padding-right 0px
			a
				color white
				height 60px
				padding-left 40px
				padding-right 40px
				padding-top 20px
				display inline-block
				font-size 16px
				background #3bafda
				i.fa
					margin-right 5px
					font-size 18px
			a:hover
				background #3a8daa
				
	#content
		padding-top 40px
		
		#acerca_de
			#zoom-image
				margin-left 50px
				margin-bottom 20px
				width 300px
				height 300px
				overflow-y hidden
				overflow-x hidden
				img
					height auto
					width 125%
			#mini-images
				margin-left 50px
				margin-bottom 40px
				.mini-image
					width 40px
					margin-right 10px
					height 40px
					overflow-y hidden
					overflow-x hidden
					display inline-block
					img
						width 200%
			h4
				margin-top 0px
			p
				font-size 16px
				color #656d78
				text-transform capitalize
		
		#localizacion
			height 400px
			margin-top -40px
		
		#roommates
			
			.habitant			
				margin-bottom 40px
				
				h4
					margin-top 0px
				
				img
					width 100%
				
				p
					color #656d78
					text-transform capitalize	
				
			