.navbar
	border-radius 0px !important
	form
		margin-top 8px
		input
			width 300px !important
		.btn
			margin-left 10px
			span
				margin-left 3px
	div.circle
		width 30px
		height 30px
		border-radius 50%
		display inline-block
		overflow hidden
		vertical-align middle
		margin-right 10px
		margin-top -8px
		img
			width 110%
			height auto
	li 
		text-transform capitalize
	
			