@import colors
@import header
div.container-fluid
	top 0
	bottom 0
	left 0
	right 0
	padding-top 50px
	padding-right 0
	padding-left 0
	position absolute !important
	div.loading
		top 53px
		bottom 0
		left 0
		right 0
		background rgba(0,0,0,0.8)
		position absolute !important
		z-index: 100
		i.fa.fa-refresh.fa-spin
			color #3bafda
			top 40%
			left 50%
			margin-left -30px
			font-size 60px
			position absolute !important
	#search-map
		height 100%
		padding-right 0
	#controls
		height 100%
		padding-right 0
		padding-left 0
		#search-list
			padding-left 10px
			padding-right 10px
			background rgb(225, 227, 230)
			padding-top 15px
			height 92%
			overflow-y scroll
			.list-item
				.photo
					width 100%
					overflow-x hidden
					overflow-y hidden
					height 105px
					
					img
						width 200px
						left -50%
						top -50%						
				.btn
					margin-top 10px
				h4
					margin-top 0px
					text-transform capitalize
				p 
					text-transform capitalize