@import colors
@import header
div.container-fluid
	top 0
	bottom 0
	left 0
	right 0
	padding-top 50px
	padding-right 0
	padding-left 0
	position absolute !important
	#search-map
		height 100%
		padding-right 0