// Extends Layout
extends ../layouts/main.jade

// Main Area Content Block 
block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        div.panel
          div.panel-body
            form()#signup-form
              h3.text-center Registro
              if message
                div.alert.alert-danger
                  ul
                    li= message
              else
                div.alert.alert-danger(style="display:none;")
                  ul
              div.form-group
                label(for="user-username") Nombre de Usuario 
                input.form-control#user-username(type="text",name="username")
              div.form-group
                label(for="user-name") Nombre y Apellido
                input.form-control#user-name(type="text",name="name")
              div.form-group
                label(for="user-email") Correo
                input.form-control#user-email(type="text",name="email")
              div.form-group
                label(for="user-password") Contraseña
                input.form-control#user-password(type="password",name="password")
              div.form-group
                label(for="ap-country") Pais
                select.form-control#ap-country(name="country")
                  each country in countries
                    option(value=country.code)= country.name
              div.form-group
                label(for="user-birthdate") Fecha de Nacimiento
                input.form-control#user-birthdate(type="text",name="birthdate")
              a.btn.btn-primary#btn-signup
                i.fa.fa-user
                span Registrarse

// page-specific styles
block head
  link(rel="stylesheet", href="/css/signup.css")

block postlibraries
  script.
    require(['/js/app/apps/signup.js'],function(signupPage){
     signupPage.start();
    });
  