// Extends Layout
extends ../layouts/main.jade

// Main Area Content Block 
block content
  div.container-fluid#user-dashboard
    div.row
      div.col-md-1#dashboard-navigation
        nav
          ul
            li.active
              a(href="#")
                i.fa.fa-users
            li
              a(href="/properties/update")
                i.fa.fa-building-o
      div.col-md-11#update-user
        div.update-profile-pic
          div.col-md-3
            img(src=user.profilePicture)
            input(type="file",name="profilePicture")
          div.col-md-8
            form(action="")
              if message
                div.alert.alert-danger
                  ul
                    li= message
              else
                div.alert.alert-danger(style="display:none;")
                  ul
              div.form-group
                label(for="user-username") Nombre de Usuario 
                input.form-control#user-username(type="text",name="username")
              div.form-group
                label(for="user-name") Nombre y Apellido
                input.form-control#user-name(type="text",name="name")
              div.form-group
                label(for="user-email") Correo
                input.form-control#user-email(type="text",name="email")
              div.form-group
                label(for="user-password") Contraseña
                input.form-control#user-password(type="password",name="password")
              div.form-group
                label(for="user-description") Descripcion
                textarea.form-control#user-description(name="description")
              div.form-group
                label(for="ap-country") Pais
                select.form-control#ap-country(name="country")
                  each country in countries
                    option(value=country.code)= country.name
              a.btn.btn-primary#btn-update
                i.fa.fa-user
                span Actualizar

        div.update-user-data

// page-specific styles
block head
  link(rel="stylesheet", href="/css/update-user.css")

//block postlibraries
  script.
    require(['/js/app/apps/update-user.js'],function(updatePage){
     updatePage.start();
    });
  