<div id="signup-page">
  <link rel="stylesheet" href="/css/signup.css">
  <div class="container" id="panel-signup-form">
    <div class="col-md-6 col-md-offset-3 panel">
      <div class="panel-title">
        <h2>Signup Form</h2>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" ng-if="showError()">
          <div ng-if="showError('email')" ng-messages="signup_form.email.$error">
            <p ng-message="required">Email is required.</p>
            <p ng-message="pattern">Please fill in with a valid email.</p>
          </div>
          <div ng-if="showError('name')" ng-messages="signup_form.name.$error">
            <p ng-message="required">Name is required.</p>
          </div>
          <div ng-if="showError('password')" ng-messages="signup_form.password.$error">
            <p ng-message="required">Password is required.</p>
            <p ng-message="minlength">Password must be at least 8 characters long.</p>
          </div>
          <div ng-if="httpError.exist">
            <p>{{ httpError.message(form.email) }}</p>
          </div>
        </div>
        <form name="signup_form" ng-submit="createUser($event);" novalidate>
          <div class="form-group" ng-class="{'has-error': showError('email')}">
            <label for="email">Email:</label>
            <input type="text" ng-model="form.email" class="form-control" name="email" required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
          </div>
          <div class="form-group" ng-class="{'has-error': showError('name')}">
            <label for="name">Name:</label>
            <input type="text" ng-model="form.name" class="form-control" name="name" required>
          </div>
          <div class="form-group" ng-class="{'has-error': showError('password')}">
            <label for="password">Password:</label>
            <input type="password" ng-model="form.password" class="form-control" name="password" required ng-minlength="8">
          </div>
          <div class="buttons">
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="" class="btn btn-danger">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>